.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  padding: 1.6rem;
  margin: 1rem auto;
  position: relative;
  cursor: pointer;
  width: 70vw;
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
  border: 1px solid #eaeaea;
  transition: box-shadow.2s ease;
  border-radius: 5px;
  transition: all 0.2s;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container:hover {
  transform: scale(1.01);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #111;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.description {
  color: #666;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.arrowIcon {
  position: absolute;
}

.rotateIcon {
  transform: rotate(90deg);
}
