html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-y: scroll;
  line-height: 1.65;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}
.ReactGridGallery_tile {
  background: transparent !important;
}
.ril-toolbar {
  display: none !important;
}

.ril__toolbar {
  display: none !important;
}

.ril-loading-circle {
  display: none !important;
}

.ril__loadingCircle {
  display: none !important;
}

.ril__loadingContainer__icon {
  display: none !important;
}

div[style="display: flex; flex-wrap: wrap;"]:has(.ReactGridGallery_tile) {
  display: grid !important;
  grid-template-columns: repeat(3, auto) !important;
}
